<section class="wrap">
  @if (error()) {
    <p class="banner">{{ error() }}</p>
  } @else {
    @if (aircraft(); as ac) {
    <header class="intro">
      <p class="kicker">Select a module</p>
      <h1>Continue with this aircraft</h1>
    </header>
    <div class="grid">
      @for (item of modules; track item.id) {
        <a class="tile" [routerLink]="['/aircraft', padMsn(ac.msn), item.slug]" routerLinkActive="is-on">
          <app-module-icon [name]="item.icon" />
          <span class="code">{{ item.code }}</span>
          <span class="name">{{ item.label }}</span>
          @if (item.description) {
            <span class="desc">{{ item.description }}</span>
          }
        </a>
      }
    </div>
    }
  }
</section>
